.full {
  width: 100%;
  height: 100vh;
}

.heading{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
  font-family: 'Playfair Display', serif;
}

.card{
  padding-bottom:10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}